.imageContainer img{
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textTitle {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.recipeCard {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  max-width: 500px;
  box-shadow: rgb(225 211 211 / 4%) 0px 0px 5px 3px;
}
.recipeCard h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.recipeText {
  margin-left: 15px;
}
.singleRecipe {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.recipeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin-top: 40px;
}
.instructionsContainer {
  max-width: 700px;
  list-style-image: url(/bean_coffee.png);
}
.recipeDesc {
  text-align: center;
  max-width: 700px; 
}
@media only screen and (max-width: 900px) {
  .recipeCard {
    display: flex;
    flex-wrap: wrap;
  }
  .recipeCard h3 {
    text-align: center;
  }
  .imageContainer {
    margin: 0 auto; 
  }
}
@media only screen and (max-width: 646px) {
  .recipeCard {
    display: flex;
    flex-wrap: wrap;
  }
  .imageContainer img {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 405px) {
  .recipeContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
  }
}